<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>

        <div>
            <h1><a href="">Django Girls Blog</a></h1>
            <p>Weeelcome!!</p>
        </div>

        <div>
            <h2><a href="">This is a post</a></h2>
            <p>published: 5.03.2016, 3:37pm</p>
            <p>Don't you dare...</p>
        </div>

        <div>
            <h2><a href="">En que a poss</a></h2>
            <p>published: 14.06.2016, 12:14</p>
            <p>Y pues asi</p>
        </div>
    </body>
</html>